<p id="notice"><%= notice %></p>

<p>
  <strong>Rid:</strong>
  <%= @result.rid %>
</p>

<p>
  <strong>Qid:</strong>
  <%= @result.qid %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @result.uid %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @result.ans %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
