<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>
<h1>Q.<%= @result.qid %></h1>
<h2>アナタの回答は<%= @result.ans %>です。</h2>

<%= pie_chart @graph_data %>

<%= link_to 'Back', users_path %>
