<!DOCTYPE html>
<html>
<head>
  <title>ModelPower</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user == nil %>
    <%= link_to "ログイン", login_path %>
  <% else %>
    <%= link_to 'ログアウト', login_path, :confirm => 'ログアウトしますか？', :method => :delete %>
  <% end %>

<%= yield %>

</body>
</html>
