<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid,"ユーザID" %><br>
    <%= f.text_field :uid %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.radio_button :sex, "0" %><text>女性</text><%= f.radio_button :sex, "1" %><text>男性</text>
  </div>
  <div class="field">
    <%= f.label :age, "年齢" %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :name, "ニックネーム ※ランキングに表示されます。" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "新規作成" %>
  </div>
<% end %>
