<div class = "all">
<div id = "title" >
  <h1><%= @user.name %>さんのマイページ</h1>
</div>
<div id = "user_info" >
  <ul>
    <li>ID:<%= @user.uid %></li>
    <li>ニックネーム:<%= @user.name %></li>
    <li>年齢:<%= @user.age %></li>
    <li>性別:
      <% if @user.sex %>
        男性
      <% else %>
        女性
      <% end %>
    </li>
  </ul>
</div>

<div class = "power">
  <h2>アナタの模範力は…<%= @user.score %>万！！</h2>
</div>
<div class = "rank">
  <h2>ユーザランキング
    現在<%= @user_rank %>位！
  </h2>
  <ol>
    <% @all_rank.each do |rank| %>
      <li><%= rank.name %>………<%= rank.score %>万</li>
    <% end %>
  </ol>
</div>
</div>
