<p id="notice"><%= notice %></p>

<table>
<!--   <thead>
    <tr>
      <th>Qid</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>A</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
      <tr>
        <td><%= image_tag(@question.a) %></td>
        <td><%= image_tag(@question.b) %></td>
        <td><%= image_tag(@question.c) %></td>
        <td><%= image_tag(@question.d) %></td>
        <td><%= image_tag(@question.z) %></td>
      </tr>
  </tbody>
</table>

<br>
<%= link_to '問題選択に戻る', questions_path %>
