<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <th><%= image_tag(@question.z) %></th>
      <th></th>
      <th></th>
      <th>><%= @question.y %></th>
    </tr>
  </tbody>
</table>

<br>
<br>

<table>
  <tbody>
    <tr>
      <td><%= link_to image_tag(@question.a), :controller => 'questions', :action => 'new', :qid => @question.qid, :ans => "a" %></td>
      <td><%= link_to image_tag(@question.b), :controller => 'questions', :action => 'new', :qid => @question.qid, :ans => "b" %></td>
      <td><%= link_to image_tag(@question.c), :controller => 'questions', :action => 'new', :qid => @question.qid, :ans => "c" %></td>
      <td><%= link_to image_tag(@question.d), :controller => 'questions', :action => 'new', :qid => @question.qid, :ans => "d" %></td>
    </tr>
  </tbody>
</table>

<br>
<br>
<%= link_to '問題選択に戻る', questions_path %>
